@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #000000; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0; }

h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
  padding-bottom: 5px;
  text-align: center; }
  @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
    h2 {
      font-size: 2.5em; } }
  @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
    h2 {
      font-size: 2em; } }

h4 {
  font-size: 1.8em;
  padding-bottom: 20px;
  text-align: center;
  color: #333333; }
  @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
    h4 {
      font-size: 1.6em; } }
  @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
    h4 {
      font-size: 1.4em; } }

.carousel-indicators li {
  border: 1px solid #B88B58; }
.carousel-indicators .active {
  background-color: #B88B58; }

.btn {
  border-radius: 30px;
  color: #ffffff;
  background-color: #B88B58;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.2s; }
  .btn:hover {
    border: solid 2px #B88B58;
    background-color: transparent;
    color: #B88B58;
    transform: scale(1.1); }

.container_nav {
  background-color: #000000;
  width: 100%; }
  .container_nav .navbar {
    display: flex;
    position: relative; }
    .container_nav .navbar .logo {
      padding-top: 10px;
      width: 25vw;
      text-align: center; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .container_nav .navbar .logo {
          width: 100%; } }
      .container_nav .navbar .logo img {
        width: 50px;
        padding: 20px 0; }
    .container_nav .navbar .navbar_nav {
      margin-top: 10px;
      text-transform: uppercase;
      font-size: 0.8em;
      width: 75vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-right: 40px; }
      @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
        .container_nav .navbar .navbar_nav {
          font-size: 0.5em; } }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .container_nav .navbar .navbar_nav {
          display: none;
          position: absolute;
          margin: 0;
          top: 0;
          width: 100%;
          padding: 10px 0;
          z-index: 50;
          height: 500px;
          background-color: #000000; } }
      .container_nav .navbar .navbar_nav .nav_list {
        transition: 0.2s;
        list-style-type: none;
        padding: 30px 0;
        border-bottom: solid 2px #000000; }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .container_nav .navbar .navbar_nav .nav_list {
            width: 100%;
            padding: 10px 0;
            text-align: center;
            border-bottom: solid 2px #B88B58; } }
        .container_nav .navbar .navbar_nav .nav_list .navbar_link {
          font-size: 1.4em;
          text-decoration: none;
          color: #F7F7F7;
          padding-bottom: 30px;
          border-bottom: solid 5px #000000; }
          @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
            .container_nav .navbar .navbar_nav .nav_list .navbar_link {
              border: none; } }
          .container_nav .navbar .navbar_nav .nav_list .navbar_link:hover {
            color: #ffffff;
            border-bottom: solid 5px #B88B58; }
            @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
              .container_nav .navbar .navbar_nav .nav_list .navbar_link:hover {
                border: none; } }

@media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
  .hide {
    display: block; }

  .show {
    display: block; } }
.open-menu {
  display: none; }
  @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
    .open-menu {
      display: block;
      width: 100%;
      padding: 20px 0 10px 0;
      margin: 0 auto;
      text-align: center;
      color: #ffffff;
      font-size: 2em; }
      .open-menu:focus {
        color: #B88B58; } }

.header-carousel {
  max-height: 600px; }
  .header-carousel .carousel-inner .item {
    width: 100%;
    margin: 0 auto;
    max-height: 600px; }
    .header-carousel .carousel-inner .item img {
      margin: 0 auto;
      object-fit: cover;
      object-position: 50% 50%; }
    .header-carousel .carousel-inner .item .slide-desc {
      padding-top: 10px;
      padding-bottom: 120px;
      text-transform: uppercase; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .header-carousel .carousel-inner .item .slide-desc {
          padding-bottom: 30px; } }
    .header-carousel .carousel-inner .item h3 {
      font-size: 5em;
      font-weight: bold;
      line-height: 0.7; }
      @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
        .header-carousel .carousel-inner .item h3 {
          font-size: 3em; } }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .header-carousel .carousel-inner .item h3 {
          font-size: 1.5em; } }
    .header-carousel .carousel-inner .item p {
      font-size: 1.8em;
      line-height: 2.5; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .header-carousel .carousel-inner .item p {
          font-size: 0.8em; } }
    .header-carousel .carousel-inner .item .comunication {
      color: #B88B58;
      letter-spacing: 5px;
      text-shadow: 1px 1px #000000; }
    .header-carousel .carousel-inner .item .btn {
      width: 200px;
      height: 45px;
      font-size: 1em;
      font-weight: bold; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .header-carousel .carousel-inner .item .btn {
          width: 120px;
          height: 30px;
          font-size: 0.7em; } }
  .header-carousel .phone {
    width: 65px;
    height: 65px;
    font-size: 50px;
    transform: rotate(-45deg);
    border-radius: 50%;
    background-color: #B88B58;
    color: #ffffff;
    margin-top: 0;
    z-index: 4;
    position: relative;
    top: -35px;
    left: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 0.2s; }
    .header-carousel .phone:hover {
      transform: scale(1.1); }
    @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
      .header-carousel .phone {
        display: none; } }

.about-us {
  width: 100%;
  min-height: 520px;
  background-color: #F7F7F7; }
  .about-us .title-about {
    margin: 10px 0; }
    .about-us .title-about .row .about-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 5% 10%;
      justify-content: flex-start; }
      @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
        .about-us .title-about .row .about-content {
          width: 100%;
          padding: 5% 10% 0 10%; } }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .about-us .title-about .row .about-content {
          width: 100%;
          padding: 5% 15%; } }
      .about-us .title-about .row .about-content .about-text {
        text-align: justify;
        font-size: 1em; }
      .about-us .title-about .row .about-content button {
        margin: 30px 0;
        width: 120px; }
    .about-us .title-about .row .about-video {
      width: 50%;
      padding: 5%; }
      @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px), (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .about-us .title-about .row .about-video {
          width: 100%;
          padding: 10%; } }

.services {
  width: 100%;
  color: #ffffff;
  text-align: center; }
  .services h4 {
    color: #F7F7F7; }
  .services .services-content {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
      .services .services-content {
        width: 100%;
        flex-wrap: wrap;
        padding: 10px; } }
    @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
      .services .services-content {
        flex-direction: column; } }
    .services .services-content .services-col {
      border-left: 1px solid #333333;
      max-height: 240px;
      margin-bottom: 40px; }
      @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
        .services .services-content .services-col {
          border: none; } }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .services .services-content .services-col {
          border: none;
          border-bottom: 2px solid #333333;
          padding-bottom: 20px; } }
      .services .services-content .services-col:last-child {
        border-right: 1px solid #333333; }
        @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
          .services .services-content .services-col:last-child {
            border: none; } }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .services .services-content .services-col:last-child {
            border: none; } }
      .services .services-content .services-col i {
        font-size: 2.6em;
        color: #B88B58; }
      .services .services-content .services-col h3 {
        font-size: 1.5em;
        color: #ffffff;
        padding: 30px;
        text-transform: uppercase;
        height: 100px; }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .services .services-content .services-col h3 {
            padding: 10px; } }
      .services .services-content .services-col p {
        margin-top: 30px;
        font-size: 1em;
        padding: 0 20px;
        color: #F7F7F7; }
        @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
          .services .services-content .services-col p {
            padding: 20px; } }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .services .services-content .services-col p {
            margin-top: 10px; } }

.our-projects {
  text-align: center;
  background-color: #F7F7F7; }
  .our-projects .our-buttons {
    margin-bottom: 30px;
    height: 30px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
      .our-projects .our-buttons {
        margin-bottom: 80px; } }
    .our-projects .our-buttons .btn {
      font-size: 1em;
      font-weight: 600;
      color: black;
      background-color: #F7F7F7;
      border-bottom: none;
      border: 1px solid #333333;
      min-width: 100px;
      cursor: pointer;
      transition: 0.2s;
      padding: 10px; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .our-projects .our-buttons .btn {
          width: 33%; } }
      .our-projects .our-buttons .btn:hover {
        border-bottom: 3px solid #B88B58; }
      .our-projects .our-buttons .btn:first-child {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px; }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .our-projects .our-buttons .btn:first-child {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0; } }
      .our-projects .our-buttons .btn:last-child {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px; }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .our-projects .our-buttons .btn:last-child {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0; } }
  .our-projects .row {
    width: 90%;
    margin: 0 auto;
    justify-content: center; }
    @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
      .our-projects .row {
        width: 100%; } }
    .our-projects .row .image {
      position: relative;
      margin: 0 auto; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .our-projects .row .image {
          margin: 5px; } }
      .our-projects .row .image img {
        width: 100%;
        height: auto;
        vertical-align: middle;
        padding: 20px; }
      .our-projects .row .image .layer {
        position: absolute;
        padding: 20px;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: flex;
        align-items: center;
        align-content: center;
        transition: 0.6s;
        background-color: rgba(184, 139, 88, 0.8);
        cursor: pointer; }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .our-projects .row .image .layer {
            background-color: rgba(184, 139, 88, 0.4);
            opacity: 1; } }
        .our-projects .row .image .layer:hover {
          opacity: 0.9; }
        .our-projects .row .image .layer div {
          position: absolute;
          color: #000000;
          text-align: center;
          margin: 0 auto;
          padding: 20px; }
          .our-projects .row .image .layer div h4 {
            text-transform: uppercase;
            color: #ffffff; }
          .our-projects .row .image .layer div p {
            font-size: 1em;
            padding: 10px; }
  .our-projects .more-bottom {
    width: 200px;
    height: 45px;
    border-radius: 30px;
    color: #ffffff;
    background-color: #B88B58;
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin: 30px;
    transition: 0.2s; }
    .our-projects .more-bottom:hover {
      border: solid 2px #B88B58;
      background-color: transparent;
      color: #B88B58;
      transform: scale(1.1); }

.our-team {
  text-align: center;
  background-image: url(../images/city_background.jpg);
  background-size: cover; }
  .our-team h2 {
    color: #ffffff; }
  .our-team .team-slider {
    padding: 0; }
    .our-team .team-slider .carousel {
      display: flex;
      flex-wrap: wrap;
      height: 500px;
      margin: 0 150px; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .our-team .team-slider .carousel {
          margin: 0 auto;
          height: 100%; } }
      .our-team .team-slider .carousel .cards {
        margin: 0 auto;
        max-width: 350px;
        height: 420px;
        background-color: #ffffff;
        margin-bottom: 80px;
        padding: 30px; }
        @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
          .our-team .team-slider .carousel .cards {
            width: 30%; } }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .our-team .team-slider .carousel .cards {
            width: 90%;
            height: 30%; } }
        .our-team .team-slider .carousel .cards img {
          margin-top: 30px;
          max-width: 120px;
          max-height: 120px;
          border-radius: 100px; }
          @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
            .our-team .team-slider .carousel .cards img {
              width: 100%; } }
          @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
            .our-team .team-slider .carousel .cards img {
              width: 100%; } }
      .our-team .team-slider .carousel .desc {
        color: #000000;
        width: 80%;
        margin: auto; }
        .our-team .team-slider .carousel .desc h3 {
          font-size: 1.4em;
          padding-top: 30px;
          text-transform: uppercase; }
          @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
            .our-team .team-slider .carousel .desc h3 {
              font-size: 1em; } }
          @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
            .our-team .team-slider .carousel .desc h3 {
              font-size: 1em; } }
        @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
          .our-team .team-slider .carousel .desc p {
            font-size: 0.8em; } }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .our-team .team-slider .carousel .desc p {
            font-size: 0.6em; } }
      .our-team .team-slider .carousel .media {
        margin-top: 20px;
        margin-bottom: 30px; }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .our-team .team-slider .carousel .media {
            margin-bottom: 0; } }
        .our-team .team-slider .carousel .media .media-square {
          margin: 2px;
          width: 30px;
          height: 30px;
          background-color: #333333;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          color: #ffffff;
          transition: 0.2s; }
          @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
            .our-team .team-slider .carousel .media .media-square {
              width: 24px;
              height: 24px; } }
          @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
            .our-team .team-slider .carousel .media .media-square i {
              font-size: 0.8em; } }
          .our-team .team-slider .carousel .media .media-square:hover {
            background-color: #B88B58; }

.happy {
  min-height: 700px;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #F7F7F7; }
  .happy .happy-clients {
    width: 50%;
    padding: 0 12%; }
    @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
      .happy .happy-clients {
        width: 70%; } }
    @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
      .happy .happy-clients {
        width: 90%; } }
    .happy .happy-clients .happy-slide {
      margin-bottom: 50px;
      height: 500px; }
      .happy .happy-clients .happy-slide .card-happy img {
        width: 130px;
        height: 130px;
        margin-top: 20px;
        border-radius: 100px; }
      .happy .happy-clients .happy-slide .desc-happy h3 {
        color: #000000; }
      .happy .happy-clients .happy-slide .desc-happy h5 {
        font-size: 1.4em; }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .happy .happy-clients .happy-slide .desc-happy h5 {
            font-size: 1em; } }
      .happy .happy-clients .happy-slide .desc-happy .fas {
        font-size: 3em;
        margin: 20px 0; }
      .happy .happy-clients .happy-slide .desc-happy p {
        line-height: 24px; }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .happy .happy-clients .happy-slide .desc-happy p {
            font-size: 0.7em; } }

.companies {
  width: 100%;
  border-top: 1px solid #B88B58;
  border-bottom: 1px solid #B88B58;
  background-color: #ffffff; }
  .companies .logo-comp {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto; }
    .companies .logo-comp img {
      width: 120px;
      height: 100%;
      padding: 25px; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .companies .logo-comp img {
          width: 30%; } }

.title-price {
  min-height: 560px;
  padding: 20px 0 40px 0;
  text-align: center;
  background-color: #F7F7F7; }
  .title-price .price {
    width: 90%; }
    @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
      .title-price .price {
        width: 80%; } }
    .title-price .price .price-col {
      width: 22%;
      margin: 0 auto;
      text-align: center;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 0 0 0; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .title-price .price .price-col {
          width: 100%;
          margin-bottom: 10px; } }
      .title-price .price .price-col h4 {
        color: #000000; }
      .title-price .price .price-col h2 {
        font-weight: bold;
        margin: 0 auto; }
      .title-price .price .price-col p {
        line-height: 1.5em;
        color: #333333; }
      .title-price .price .price-col .price-button {
        background-color: #B88B58;
        max-width: 120px;
        margin: 30px; }
        .title-price .price .price-col .price-button:hover {
          background-color: transparent;
          border: 2px solid #B88B58;
          color: #B88B58; }

.premium {
  background-color: #ffffff;
  width: 100%;
  min-height: 580px;
  text-align: center;
  margin-bottom: 20px; }
  .premium .premium-carousel {
    min-height: 460px; }
    .premium .premium-carousel .premium-slide {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 80px; }
      .premium .premium-carousel .premium-slide .row {
        justify-content: center;
        align-items: center; }
        .premium .premium-carousel .premium-slide .row .foto-premium {
          height: 100%;
          padding: 10%;
          background-size: cover; }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .premium .premium-carousel .premium-slide .row {
            padding: 0; } }
        .premium .premium-carousel .premium-slide .row .background-first {
          background-image: url("../images/package.png"); }
        .premium .premium-carousel .premium-slide .row .background-second {
          background-image: url("../images/gift.png"); }
        .premium .premium-carousel .premium-slide .row .background-third {
          background-image: url("../images/premium_3.png"); }
        .premium .premium-carousel .premium-slide .row .card-prem {
          text-align: left;
          padding: 0 10% 0 20%; }
          @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
            .premium .premium-carousel .premium-slide .row .card-prem {
              padding: 5%; } }
          .premium .premium-carousel .premium-slide .row .card-prem ul {
            margin-top: 40px;
            padding: 0 40px;
            list-style: none; }
            .premium .premium-carousel .premium-slide .row .card-prem ul p {
              color: #333333;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.8; }
            .premium .premium-carousel .premium-slide .row .card-prem ul .far {
              font-size: 24px;
              color: #B88B58; }
            .premium .premium-carousel .premium-slide .row .card-prem ul li .feature {
              padding-left: 10px;
              font-size: 1.5em;
              font-weight: bold;
              color: #000000; }
            .premium .premium-carousel .premium-slide .row .card-prem ul li ul {
              margin: 0 auto; }
              .premium .premium-carousel .premium-slide .row .card-prem ul li ul li {
                font-size: 1em;
                text-transform: uppercase;
                line-height: 2.0;
                padding-bottom: 5px; }
  .premium .btn {
    margin-bottom: 30px; }

.facts {
  width: 100%;
  min-height: 420px;
  color: #ffffff;
  text-align: center; }
  .facts h4 {
    color: #F7F7F7; }
  .facts .row {
    width: 90%;
    margin: 0 auto; }
    .facts .row .facts-col {
      height: 100%;
      text-align: center;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 0 auto; }
      @media (min-width: 992px) and (max-width: 1200px), (min-width: 768px) and (max-width: 991px) {
        .facts .row .facts-col {
          width: 20%; } }
      .facts .row .facts-col h2 {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0;
        color: #B88B58;
        font-size: 4em;
        padding: 20px; }
      .facts .row .facts-col .line {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 20px;
        border-bottom: solid 2px #333333; }
      .facts .row .facts-col h4 {
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.5;
        color: #F7F7F7;
        padding-bottom: 0;
        font-size: 1.5em; }
      .facts .row .facts-col p {
        font-size: 0.7em;
        color: #F7F7F7;
        padding: 10px; }

.media-facts {
  background-color: #ffffff; }
  .media-facts .icons-facts {
    width: 50%;
    margin: 20px 0;
    text-align: center; }
    @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
      .media-facts .icons-facts {
        width: 100%; } }
    .media-facts .icons-facts .media-square {
      width: 32px;
      height: 32px;
      margin: 0 15px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      color: #ffffff;
      transition: 0.5s; }
      .media-facts .icons-facts .media-square .fab {
        font-size: 0.9em; }
    .media-facts .icons-facts span {
      text-transform: uppercase;
      font-size: 0.9em;
      text-align: left;
      font-weight: 600;
      margin-right: 22px;
      margin-top: 0;
      margin-bottom: 10px;
      color: #000000; }
    .media-facts .icons-facts .m-icon {
      color: #ffffff;
      background-color: #B88B58; }
    .media-facts .icons-facts .m-twitter:hover {
      background-color: #1dcaff; }
    .media-facts .icons-facts .m-linked:hover {
      background-color: #0077B5; }
    .media-facts .icons-facts .m-fb:hover {
      background-color: #3b5999; }
    .media-facts .icons-facts .m-googlep:hover {
      background-color: #dd4b39; }
    .media-facts .icons-facts .m-pinterest:hover {
      background-color: #af0606; }

.contact {
  background-color: #F7F7F7; }
  .contact .contact-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    min-height: 320px;
    display: block; }
    @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
      .contact .contact-form {
        width: 90%; } }
    .contact .contact-form .name {
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .contact .contact-form .name {
          margin: 0 auto;
          flex-direction: column; } }
      .contact .contact-form .name input {
        padding: 20px;
        text-transform: uppercase;
        border: none;
        border-bottom: 1px solid #333333;
        background: transparent;
        color: #B88B58; }
    .contact .contact-form .subject,
    .contact .contact-form .message {
      width: 100%;
      padding: 20px;
      text-transform: uppercase;
      border: none;
      border-bottom: 1px solid #333333;
      background: transparent;
      color: #B88B58;
      display: block; }
    .contact .contact-form .btn {
      margin: 50px 0; }

.map {
  background-color: #ffffff;
  position: relative; }
  .map iframe {
    height: 100%;
    width: 100%;
    border: 0;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    height: 420px;
    z-index: 5; }
  .map .data-container .address {
    background-color: #ffffff;
    max-width: 40%;
    padding: 10px;
    z-index: 5;
    top: 50%;
    left: 10%;
    transform: translateY(-30%);
    position: absolute;
    max-height: 320px;
    text-align: left;
    border: solid 1px #B88B58; }
    .map .data-container .address .list-item {
      display: block;
      font-size: 0.6em;
      margin-bottom: 3px; }
      .map .data-container .address .list-item .square {
        display: inline-block;
        padding-bottom: 5px;
        padding-right: 5px; }
        .map .data-container .address .list-item .square .circle {
          width: 24px;
          height: 24px;
          background: #333333;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .map .data-container .address .list-item .square .circle img {
            width: auto;
            height: 50%; }

.footer {
  height: 100%;
  border-style: solid;
  border-width: 1px; }
  .footer .footer-container {
    width: 80%;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left; }
    .footer .footer-container .row {
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 20px; }
      @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
        .footer .footer-container .row {
          flex-direction: column; } }
      .footer .footer-container .row .footer-col {
        width: 30%; }
        @media (min-width: 577px) and (max-width: 767px), (min-width: 321px) and (max-width: 576px), (max-width: 320px) {
          .footer .footer-container .row .footer-col {
            width: 100%; } }
        .footer .footer-container .row .footer-col .media {
          display: flex; }
          .footer .footer-container .row .footer-col .media .media-square {
            width: 32px;
            height: 32px;
            margin: 0 auto;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            color: #fff;
            background-color: #333333;
            transition: 0.2s; }
            .footer .footer-container .row .footer-col .media .media-square:hover {
              background-color: #B88B58; }
            .footer .footer-container .row .footer-col .media .media-square .fab {
              font-size: 1em; }
        .footer .footer-container .row .footer-col p {
          font-size: 0.8em;
          font-weight: 300;
          color: #F7F7F7;
          padding: 20px;
          margin: 0 20px; }
        .footer .footer-container .row .footer-col .footer-contact {
          background-color: #333333;
          height: 175px;
          text-align: center;
          border: solid 1px #B88B58; }
          .footer .footer-container .row .footer-col .footer-contact .form-contact {
            display: flex;
            flex-direction: column; }
            .footer .footer-container .row .footer-col .footer-contact .form-contact .subscribe {
              width: 80%;
              text-transform: uppercase;
              text-align: center;
              border: none;
              border-bottom: 3px solid #F7F7F7;
              background: transparent;
              color: #B88B58;
              font-size: 1em;
              margin: 0 auto;
              margin-top: 40px;
              padding: 10px; }
            .footer .footer-container .row .footer-col .footer-contact .form-contact .button {
              margin: 0 auto;
              margin-top: 30px;
              border-radius: 30px;
              max-width: 50%;
              color: #333333;
              background-color: #B88B58;
              text-align: center;
              text-transform: uppercase;
              border: none;
              cursor: pointer;
              transition: 0.2s;
              padding: 10px; }
              .footer .footer-container .row .footer-col .footer-contact .form-contact .button:hover {
                border: solid 2px #B88B58;
                background-color: transparent;
                color: #B88B58;
                transform: scale(1.1); }
    .footer .footer-container .small_footer {
      margin: 0 auto;
      border-top: 1px solid #333333;
      padding: 10px; }
      .footer .footer-container .small_footer p {
        text-align: center; }

/*# sourceMappingURL=style.css.map */
